<table class="grid">
    <thead>
        <tr>
            <th *ngFor="let item of columns">{{item}}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td  *ngFor="let cal of columns">{{item[cal]}}</td>
            <td>
                <button mat-raised-button color="primary">ویرایش</button>
                &nbsp;
                <button mat-raised-button color="warn">حذف</button>
            </td>
        </tr>


    </tbody>
</table>