#Screen {
    /* background-color: rgb(158, 158, 158); */
    /* background-image: url('../../../assets/Images/back.jpg'); */
    /* background-image: url('../../../assets/Images/p1.png');  */
    /* background-image: url('../../../assets/Images/p3.jpeg'); */
    /* background-image: url('../../../assets/Images/p4.jpeg'); */
    /* شروع تست */
    background-image: url('../../../assets/Images/a1.jpg');

    background-repeat: no-repeat;
    background-position: center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-origin: content-box, padding-box;

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    max-width: 350px;
    background-color: rgb(255, 255, 255);
}

.login-image {
    background-image: url('../../../assets/Images/Top icon.png');
    background-size: cover;
}

mat-card-title,
mat-card-subtitle,
button,
mat-form-field,
mat-label,
mat-error{
    font-family: persian;
}


.login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 10px 0;
}

.login-full-width {
    width: 100%;
}

.login-margin {
    margin: 0 12px;
}
